.lists {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lists__container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
    padding: 0 50px;
}

.listItem {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    padding: 10px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.listItem:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.listItem>img {
    width: 150px;
    height: 150px;
}



@media screen and (max-width: 768px) {
    .lists__container {
    grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .lists__container {
        grid-template-columns: 1fr;
    }
}